{{- $githubOrg := "npm" -}}
{{- $username := "lukekarrys" -}}
{{- $name := "Luke Karrys" -}}
{{- $email := "luke@lukekarrys.com" -}}
{{- $onePasswordPersonalVault := "D4L6GSCIN5CLHA6MQOWD24NBK4" -}}
{{- $isWork := eq (substr 0 9 .chezmoi.hostname) "pieholden" -}}
{{- $isMac := eq .chezmoi.os "darwin" -}}
{{- $isCodespace := env "CODESPACES" | not | not -}}
{{- $isCi := env "CI" | not | not -}}
{{- $isPermanent := and (not $isCodespace) (not $isCi) -}}
{{- $isMain := and $isPermanent $isMac -}}
{{- $isPersonal := and $isMain (not $isWork) -}}

{{- $brewPrefix := "/usr/local" -}}
{{- if eq .chezmoi.arch "arm64" -}}
{{-   $brewPrefix = "/opt/homebrew" -}}
{{- end -}}

{{- $npmBinsName := ".npm-bins" -}}
{{- $npmBinsDir := (joinPath .chezmoi.homeDir $npmBinsName) -}}
{{- $npmBinsNpmVersion := "10.8.1" -}}
{{- $npmBinsNodeVersion := "22.4.0" -}}

{{- $userConfigRel := (joinPath ".config" $username) -}}
{{- $userConfig := (joinPath .chezmoi.homeDir $userConfigRel) -}}

{{- $nodeLatestUrl := "https://nodejs.org/download/release/index.json" -}}
{{- $nodeLatestConfig := joinPath $userConfig "node.json" -}}
{{- $nodeLatestVersion := $nodeLatestConfig -}}
{{- if stat $nodeLatestConfig -}}
{{-   $nodeLatestVersion = include $nodeLatestConfig -}}
{{- else -}}
{{-   $nodeLatestVersion = output "curl" "-s" $nodeLatestUrl -}}
{{- end -}}
{{- $nodeLatestVersion = (index ($nodeLatestVersion | fromJson) 0).version -}}

{{- $nodeArch := .chezmoi.arch -}}
{{- if eq $nodeArch "amd64" -}}
{{-   $nodeArch = "x64" -}}
{{- end -}}

{{- $npmLatestUrl := "https://registry.npmjs.org/npm" -}}
{{- $npmLatestConfig := joinPath $userConfig "npm.json" -}}
{{- $npmLatestVersion := "" -}}
{{- if stat $npmLatestConfig -}}
{{-   $npmLatestVersion = include $npmLatestConfig -}}
{{- else -}}
{{-   $npmLatestVersion = output "curl" "-s" $npmLatestUrl -}}
{{- end -}}
{{- $npmLatestVersion = (index ($npmLatestVersion | fromJson) "dist-tags").latest -}}

umask = 0o022

[git]
  autoCommit = true
  autoPush = true

[data]
  isWork = {{ $isWork }}
  isMac = {{ $isMac }}
  isCodespace = {{ $isCodespace }}
  isCi = {{ $isCi }}
  isPermanent = {{ $isPermanent }}
  isMain = {{ $isMain }}
  isPersonal = {{ $isPersonal }}
  username = {{ $username | quote }}
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  githubOrg = {{ $githubOrg | quote }}
  opPersonal = {{ $onePasswordPersonalVault | quote }}
  githubProjects = [
    "org:npm topic:npm-cli",
    "org:bracketclub",
    "org:lukekarrys",
  ]

  userConfig = {{ $userConfig | quote }}
  userConfigRel = {{ $userConfigRel | quote }}
  homeDir = {{ .chezmoi.homeDir | quote }}

  brewPrefix = {{ $brewPrefix | quote }}

  nodeLatestUrl = {{ $nodeLatestUrl | quote }}
  nodeLatestConfig = {{ $nodeLatestConfig | quote }}
  nodeLatestVersion = {{ $nodeLatestVersion | quote }}
  npmLatestUrl = {{ $npmLatestUrl | quote }}
  npmLatestConfig = {{ $npmLatestConfig | quote }}
  npmLatestVersion = {{ $npmLatestVersion | quote }}
  nodeArch = {{ $nodeArch | quote }}

  npmBinsName = {{ $npmBinsName | quote }}
  npmBinsPackageName = "{{ (trimAll "." $npmBinsName) }}-bin"
  npmBinsDir = {{ $npmBinsDir | quote }}
  npmBinsNpmVersion = {{ $npmBinsNpmVersion | quote }}
  npmBinsNodeVersion = {{ $npmBinsNodeVersion | quote }}
  npmBinsBin = "{{ $npmBinsDir }}/bin"
  npmBinsNodeBin = "{{ $npmBinsDir }}/node/bin"
  npmBinsNpmBin = "{{ $npmBinsDir }}/npm/bin"
  npmBinsNpmIndex = "{{ $npmBinsDir }}/npm/index.js"
  npmBinsPathPrefix = "{{ $npmBinsDir }}/node/bin:{{ $npmBinsDir }}/npm/bin:"
  npmBinsCommand = "{{ $npmBinsDir }}/node/bin/node {{ $npmBinsDir }}/npm/index.js --prefix={{ $npmBinsDir }}"