{{/* node architecture is different from go's */}}
{{- $nodeArch := .chezmoi.arch -}}
{{- if eq $nodeArch "amd64" -}}
{{-   $nodeArch = "x64" -}}
{{- end -}}

{{- $brewPrefix := "/usr/local" -}}
{{- if eq .chezmoi.arch "arm64" -}}
{{-   $brewPrefix = "/opt/homebrew" -}}
{{- end -}}

{{/* default github org */}}
{{- $githubOrg := "npm" -}}

{{- $npmGlobal := (printf "%s%s" .chezmoi.homeDir "/.npm-global") }}

umask = 0o022

[git]
  autoCommit = true
  autoPush = true

[data]
  nodeArch = {{ $nodeArch | quote }}
  nodeVersion = "19.4.0"
  npmVersion = "9.3.1"
  username = "lukekarrys"
  email = "luke@lukekarrys.com"
  name = "Luke Karrys"
  githubOrg = {{ $githubOrg | quote }}
  opPersonal = "D4L6GSCIN5CLHA6MQOWD24NBK4"
  homeDir = {{ .chezmoi.homeDir | quote }}
  globalJsDir = {{ $npmGlobal | quote }}
  globalJsBin = "{{ $npmGlobal }}/bin"
  globalNodeBin = "{{ $npmGlobal }}/node/bin"
  globalNpmBin = "{{ $npmGlobal }}/npm/bin"
  globalNpmIndex = "{{ $npmGlobal }}/npm/index.js"
  brewPrefix = {{ $brewPrefix | quote }}
