[".config/{{ .username }}/daily.json"]
    type = "file"
    url = "http://worldtimeapi.org/api/timezone/America/Phoenix?daily"
    refreshPeriod = "24h"

[".config/{{ .username }}/weekly.json"]
    type = "file"
    url = "http://worldtimeapi.org/api/timezone/America/Phoenix?weekly"
    refreshPeriod = "168h"

[".node-bin"]
    type = "archive"
    url = "https://nodejs.org/dist/{{ .nodeLatest }}/node-{{ .nodeLatest }}-{{ .chezmoi.os }}-{{ .nodeArch }}.tar.gz"
    stripComponents = 1
    exclude = [
        "*/lib/node_modules/npm/**",
    ]

[".npm-bin"]
    type = "archive"
    url = "https://registry.npmjs.org/npm/-/npm-{{ .npmLatest }}.tgz"
    exact = true
    stripComponents = 1

[".npm-global/node"]
    type = "archive"
    url = "https://nodejs.org/dist/v{{ .globalNodeVersion }}/node-v{{ .globalNodeVersion }}-{{ .chezmoi.os }}-{{ .nodeArch }}.tar.gz"
    exact = true
    stripComponents = 1
    include = [
        "*/bin",
        "*/bin/node",
        "*/include/**",
    ]

[".npm-global/npm"]
    type = "archive"
    url = "https://registry.npmjs.org/npm/-/npm-{{ .globalNpmVersion }}.tgz"
    exact = true
    stripComponents = 1
    exclude = [
        "*/man/**",
        "*/docs/**",
        "*/bin/**",
    ]

[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/lib/bzr.zsh",
        "*/lib/cli.zsh",
      # "*/lib/clipboard.zsh",
        "*/lib/compfix.zsh",
      # "*/lib/completion.zsh",
        "*/lib/correction.zsh",
        "*/lib/diagnostics.zsh",
      # "*/lib/directories.zsh",
      # "*/lib/functions.zsh",
      # "*/lib/git.zsh",
        "*/lib/grep.zsh",
        "*/lib/history.zsh",
      # "*/lib/key-bindings.zsh",
      # "*/lib/misc.zsh",
        "*/lib/nvm.zsh",
        "*/lib/prompt_info_functions.zsh",
        "*/lib/spectrum.zsh",
      # "*/lib/termsupport.zsh",
        "*/lib/theme-and-appearance.zsh",
        "*/lib/vcs_info.zsh",
    ]

[".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh-custom/plugins/fzf-tab"]
    type = "archive"
    url = "https://github.com/Aloxaf/fzf-tab/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh-custom/plugins/evalcache"]
    type = "archive"
    url = "https://github.com/mroth/evalcache/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh-custom/plugins/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".dotfiles-bin/strap.sh"]
    type = "file"
    url = "https://raw.githubusercontent.com/mikemcquaid/strap/master/bin/strap.sh"
    refreshPeriod = "168h"
