[alias]
	
	# checkout
	co = checkout
	
	# Push
	p = push

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	# List contributors with number of commits
	contributors = shortlog --summary --numbered

	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD

	# set upstream for remote to current branch
	set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`

[apply]

	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]

	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore

	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

	# Make `git rebase` safer on OS X
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	editor = subl -n -w

[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = true

[color "branch"]

	current = yellow black
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = black

[color "status"]

	added = yellow
	changed = green
	untracked = cyan
	branch = magenta

[diff]

	# Detect copies as well as renames
	renames = copies

[help]

	# Automatically correct and execute mistyped commands
	autocorrect = 1
	format = web

[merge]

	# Include summaries of merged commits in newly created merge commit messages
	log = true

[branch]
	autosetupmerge = true

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
	remote = origin
	merge = refs/heads/master

[push]

	# Use the Git 1.x.x default to avoid errors on machines with old Git
	# installations. To use `simple` instead, add this to your `~/.extra` file:
	# `git config --global push.default simple`. See http://git.io/mMah-w.
	default = current


# URL shorthands
[url "git@github.com:"]

	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"


[url "git://github.com/"]

	insteadOf = "github:"


[url "git@gist.github.com:"]

	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"


[url "git://gist.github.com/"]

	insteadOf = "gist:"


[user]

	name = Luke Karrys
	email = lukekarrys@gmail.com
