{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# package.json hash: {{ include "dot_npm-global/package.json.tmpl" | sha256sum }}
PATH={{ .globalNodeBin }}:{{ .globalNpmBin }}:$PATH
{{ .globalNodeBin }}/node {{ .globalNpmIndex }} --prefix={{ .globalJsDir }} install
{{ end -}}