{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

{{ if stat (joinPath .userConfig "weekly.json") -}}
# weekly hash: {{ include (joinPath .userConfig "weekly.json") | sha256sum }}
{{ else }}
# weekly hash: {{ output "echo" "$RANDOM" | sha256sum }}
{{- end -}}

data_path="{{ .homeDir }}/.oh-my-zsh-custom/plugins/projects/data.txt"
rm -rf $data_path
{{- range .githubProjects }}
gh ls-repos-name "{{ . }}" >> $data_path
{{- end -}}
{{- end -}}
