{{- if .isMain -}}
#!/bin/bash

{{ template "weeklyHash" . }}

mkdir -p "{{ dir .nodeLatestConfig }}"
touch "{{ .nodeLatestConfig }}"
curl -s {{ .nodeLatestUrl }} > "{{ .nodeLatestConfig }}"
{{- end -}}
