{{- if .isMain -}}
#!/bin/bash

{{ template "weeklyHash" . }}

data_path="{{ .homeDir }}/.oh-my-zsh-custom/plugins/projects/data.txt"
rm -rf $data_path

{{- range .githubProjects }}
gh ls-repos-name "{{ . }}" >> $data_path
{{- end -}}

{{- end -}}
