{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Brewfile hash: {{ include "Brewfile" | sha256sum }}
brew bundle --no-lock --no-upgrade --file={{ .chezmoi.sourceDir }}/Brewfile
if [ ! -f "$HOME/.cargo/env" ]; then
  rustup-init --no-modify-path -y
fi
{{ end -}}