{{- $isWork := eq (substr 0 9 .chezmoi.hostname) "pieholden" -}}
{{- $isMac := eq .chezmoi.os "darwin" -}}
{{- $isCodespace := env "CODESPACES" | not | not -}}
{{- $isCi := env "CI" | not | not -}}
{{- $isPermanent := and (not $isCodespace) (not $isCi) -}}
{{- $isMain := and $isPermanent $isMac -}}
{{- $isPersonal := and $isMain (not $isWork) -}}

{{- $brewPrefix := "/usr/local" -}}
{{- if eq .chezmoi.arch "arm64" -}}
{{-   $brewPrefix = "/opt/homebrew" -}}
{{- end -}}

{{- $home := .chezmoi.homeDir -}}
{{- $xdgConfig := ".config" -}}
{{- $xdgCache := ".cache" -}}
{{- $xdgData := ".local/data" -}}
{{- $xdgState := ".local/state" -}}
{{- $npmGlobal := joinPath $xdgConfig "packages/npm" -}}

umask = 0o022

[diff]
  exclude = ["scripts", "externals"]

[hooks.read-source-state.pre]
  command = ".local/data/chezmoi/pre.sh"

[data.is]
  Work = {{ $isWork }}
  Mac = {{ $isMac }}
  Codespace = {{ $isCodespace }}
  Ci = {{ $isCi }}
  Permanent = {{ $isPermanent }}
  Main = {{ $isMain }}
  Personal = {{ $isPersonal }}

[data.xdgRel]
  config = {{ $xdgConfig | quote }}
  cache = {{ $xdgCache | quote }}
  data = {{ $xdgData | quote }}
  state = {{ $xdgState | quote }}

[data.xdg]
  config = {{ joinPath $home $xdgConfig | quote }}
  cache = {{ joinPath $home $xdgCache | quote }}
  data = {{ joinPath $home $xdgData | quote }}
  state = {{ joinPath $home $xdgState | quote }}

[data.dirs]
  home = {{ $home | quote }}
  projects = {{ joinPath $home "projects" | quote }}
  brew = {{ $brewPrefix | quote }}
  brewBin = {{ joinPath $brewPrefix "bin" | quote }}

[data.npmGlobal]
  rel = {{ $npmGlobal | quote }}
  root = {{ joinPath $home $npmGlobal | quote }}
  path = {{ joinPath $home $npmGlobal "bin" | quote }}
  localNodeBin = {{ joinPath $home $npmGlobal "node/bin" | quote }}
