{{- $isWork := eq (substr 0 9 .chezmoi.hostname) "pieholden" -}}
{{- $isMac := eq .chezmoi.os "darwin" -}}
{{- $isCodespace := env "CODESPACES" | not | not -}}
{{- $isCi := env "CI" | not | not -}}
{{- $isPermanent := and (not $isCodespace) (not $isCi) -}}
{{- $isMain := and $isPermanent $isMac -}}
{{- $isPersonal := and $isMain (not $isWork) -}}

{{- $brewPrefix := eq .chezmoi.arch "arm64" | ternary "/opt/homebrew" "/usr/local" -}}

{{- $home := .chezmoi.homeDir -}}
{{- $xdgConfig := ".config" -}}
{{- $xdgConfigPath := joinPath $home $xdgConfig -}}
{{- $xdgCache := ".cache" -}}
{{- $xdgCachePath := joinPath $home $xdgCache -}}
{{- $xdgData := ".local/data" -}}
{{- $xdgDataPath := joinPath $home $xdgData -}}
{{- $xdgState := ".local/state" -}}
{{- $xdgStatePath := joinPath $home $xdgState -}}
{{- $npmGlobal := joinPath $xdgConfigPath "packages/npm" -}}

umask = 0o022

[diff]
  exclude = ["scripts", "externals"]

[hooks.read-source-state.pre]
  command = {{ joinPath .chezmoi.workingTree "pre.sh" | quote }}

[hooks.apply.post]
  command = {{ joinPath .chezmoi.workingTree "post.sh" | quote }}

[hooks.init.post]
  command = {{ joinPath .chezmoi.workingTree "post.sh" | quote }}

[scriptEnv]
  XDG_CONFIG_HOME = {{ $xdgConfigPath | quote }}
  XDG_CACHE_HOME = {{ $xdgCachePath | quote }}
  XDG_DATA_HOME = {{ $xdgDataPath | quote }}
  XDG_STATE_HOME = {{ $xdgStatePath | quote }}
  NPM_CONFIG_CACHE = {{ joinPath $xdgCachePath "npm" | quote }}
  NPM_CONFIG_USERCONFIG = {{ joinPath $xdgConfigPath "npmrc" | quote }}
  CARGO_HOME = {{ joinPath $xdgDataPath "cargo" | quote }}
  RUSTUP_HOME = {{ joinPath $xdgDataPath "rustup" | quote }}
  LESSHISTFILE = {{ joinPath $xdgStatePath "lesshst" | quote }}

[data.is]
  work = {{ $isWork }}
  mac = {{ $isMac }}
  codespace = {{ $isCodespace }}
  ci = {{ $isCi }}
  permanent = {{ $isPermanent }}
  main = {{ $isMain }}
  personal = {{ $isPersonal }}

[data.xdgRel]
  config = {{ $xdgConfig | quote }}
  cache = {{ $xdgCache | quote }}
  data = {{ $xdgData | quote }}
  state = {{ $xdgState | quote }}

[data.xdg]
  config = {{ $xdgConfigPath | quote }}
  cache = {{ $xdgCachePath | quote }}
  data = {{ $xdgDataPath | quote }}
  state = {{ $xdgStatePath | quote }}

[data.dirs]
  home = {{ $home | quote }}
  projects = {{ joinPath $home "projects" | quote }}
  brew = {{ $brewPrefix | quote }}
  brewBin = {{ joinPath $brewPrefix "bin" | quote }}

[data.npmGlobal]
  root = {{ joinPath $npmGlobal | quote }}
  path = {{ joinPath $npmGlobal "bin" | quote }}
  localNode = {{ joinPath $home $xdgData "npm-globals-node" | quote }}
