["{{ joinPath (base .npmBins.dir) "node" }}"]
    type = "archive"
    url = "https://nodejs.org/dist/v22.4.0/node-v22.4.0-{{ .chezmoi.os }}-{{ .nodeArch }}.tar.gz"
    exact = true
    stripComponents = 1
    include = [
        "*/bin",
        "*/bin/node",
        "*/include/**",
    ]

["{{ joinPath (base .npmBins.dir) "npm" }}"]
    type = "archive"
    url = "https://registry.npmjs.org/npm/-/npm-10.8.1.tgz"
    exact = true
    stripComponents = 1
    exclude = [
        "*/man/**",
        "*/docs/**",
    ]
