["{{ joinPath (base .npmBins.dir) "node" }}"]
    type = "archive"
    url = "https://nodejs.org/dist/v22.4.0/node-v22.4.0-{{ .chezmoi.os }}-{{ .nodeArch }}.tar.gz"
    exact = true
    stripComponents = 1
    exclude = [
        "*/CHANGELOG.md",
        "*/README.md",
        "*/bin/corepack",
        "*/bin/npx",
        "*/share/**",
        "*/lib/node_modules/corepack/**",
        "*/lib/node_modules/npm/README.md",
        "*/lib/node_modules/npm/man/**",
        "*/lib/node_modules/npm/docs/**",
        "*/lib/node_modules/npm/bin/npx*",
        "*/lib/node_modules/npm/bin/npm",
        "*/lib/node_modules/npm/bin/npm-prefix.js",
        "*/lib/node_modules/npm/bin/npm.cmd",
        "*/lib/node_modules/npm/bin/npm.ps1",
    ]

[".local/data/xdg-ninja"]
    type = "archive"
    url = "https://github.com/b3nj5m1n/xdg-ninja/archive/main.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = [
        "*/programs/bash.json",
        "*/programs/cups.json",
        "*/programs/login.json",
        "*/programs/profile.json",
        "*/programs/trash.json",
        "*/programs/wget.json", # ignore because there is no way to set .wget-hsts without aliasing
        "*/programs/zsh.json",
    ]
