{{- if .onepassword.ssh -}}
{{- template "publicKey" list "Pieholden M1 GitHub MacBook Pro SSH Key" .onepassword.personal -}}
{{- else -}}
{{- template "privateKey" list "Pieholden M1 GitHub MacBook Pro SSH Key" .onepassword.personal -}}
{{- end }}
