{{- if .onepassword.ssh -}}
{{ template "publicKey" list "Tweedy Mac Mini SSH Key" .onepassword.personal }}
{{- else -}}
{{ template "privateKey" list "Tweedy Mac Mini SSH Key" .onepassword.personal }}
{{- end }}
