{{- if .onepassword.ssh -}}
{{- template "publicKey" list "Hummingbird Synology lukekarrys SSH Key" .onepassword.personal -}}
{{- else -}}
{{- template "privateKey" list "Hummingbird Synology lukekarrys SSH Key" .onepassword.personal -}}
{{- end }}
