{{- if .onepassword.ssh -}}
{{- template "publicKey" list "GitHub SSH and Commit Signing Key" .onepassword.personal -}}
{{- else -}}
{{- template "privateKey" list "GitHub SSH and Commit Signing Key" .onepassword.personal -}}
{{- end }}
