{{- if .isMain -}}
#!/bin/bash

# Brewfile: {{ include (joinPath .chezmoi.sourceDir "Brewfile") | sha256sum }}
brew bundle --no-lock --no-upgrade --file={{ joinPath .chezmoi.sourceDir "Brewfile" }}
{{- end -}}
