{{- if .is.Main -}}
#!/bin/bash

{{- $brewfile := joinPath .chezmoi.sourceDir "private_dot_config/private_packages/Brewfile" -}}
# {{ include $brewfile | sha256sum }}
brew bundle --no-upgrade --quiet --file={{ $brewfile }}
{{- end -}}
