{{- $nodeArch := eq .chezmoi.arch "amd64" | ternary "x64" .chezmoi.arch -}}
#!/bin/bash
set -eufo pipefail

echo "Script: npm-bins"

# This controls the node version that all of the global npm packages are linked to
# The npmrc uses engine-strict so it should fail to install something that is not
# supported. 
NODE_VERSION="v22.13.0"

# package.json {{ include (joinPath .npmGlobal.root "package.json") | sha256sum }}
# link-bins.mjs {{ include (joinPath .npmGlobal.root "link-bins.mjs") | sha256sum }}
# link-bin.sh {{ include (joinPath .npmGlobal.root "link-bin.sh") | sha256sum }}
# .npmrc {{ include (joinPath .npmGlobal.root ".npmrc") | sha256sum }}

LOCAL_NODE_DIR="{{ .npmGlobal.localNode }}"
LOCAL_NODE_BIN="$LOCAL_NODE_DIR/bin"

if [ -d "$LOCAL_NODE_DIR" ]; then
  CURRENT_NODE_VERSION=$($LOCAL_NODE_DIR/bin/node --version)
  if [ "$CURRENT_NODE_VERSION" != "$NODE_VERSION" ]; then
    rm -rf "$LOCAL_NODE_DIR"
  fi
fi

if [ ! -d "$LOCAL_NODE_DIR" ]; then
  mkdir -p "$LOCAL_NODE_DIR"
  curl -fsSL https://nodejs.org/dist/$NODE_VERSION/node-$NODE_VERSION-{{ .chezmoi.os }}-{{ $nodeArch }}.tar.gz \
    | tar -C "$LOCAL_NODE_DIR" --strip-components=1 -xzf -
fi

export PATH="$LOCAL_NODE_BIN:$PATH"
$LOCAL_NODE_BIN/npm --prefix={{ .npmGlobal.root }} --silent install
$LOCAL_NODE_BIN/npm --prefix={{ .npmGlobal.root }} --silent run dependencies

echo "Global npm packages linked to node@$(node --version)"
