#!/bin/bash
set -eufo pipefail

echo "Script: shells"

{{ range .shells }}
{{- $bin := joinPath $.dirs.brewBin .bin -}}
if ! ggrep --fixed-strings "{{ $bin }}" /etc/shells > /dev/null; then
  echo {{ $bin }} | sudo tee -a /etc/shells > /dev/null
fi
{{ if hasKey . "default" }}
if [[ "$SHELL" != "{{ $bin }}" ]] ; then
  sudo chsh -s "{{ $bin }}" "{{ $.chezmoi.username }}"
fi
{{ end }}
{{ end }}
