{{- $nodeArch := .chezmoi.arch -}}
{{- if eq $nodeArch "amd64" -}}
{{-   $nodeArch = "x64" -}}
{{- end -}}
{{- if .is.Main -}}
#!/bin/bash
set -eufo pipefail

# package.json {{ include (joinPath .npmGlobal.root "package.json") | sha256sum }}
NODE_VERSION="v22.13.0"

LOCAL_NODE_DIR="{{ .npmGlobal.localNode }}"
LOCAL_NODE_BIN="$LOCAL_NODE_DIR/bin"

if [ -d "$LOCAL_NODE_DIR" ]; then
  CURRENT_NODE_VERSION=$($LOCAL_NODE_DIR/bin/node --version)
  if [ "$CURRENT_NODE_VERSION" != "$NODE_VERSION" ]; then
    rm -rf "$LOCAL_NODE_DIR"
  fi
fi

if [ ! -d "$LOCAL_NODE_DIR" ]; then
  mkdir -p "$LOCAL_NODE_DIR"
  curl -fsSL https://nodejs.org/dist/$NODE_VERSION/node-$NODE_VERSION-{{ .chezmoi.os }}-{{ $nodeArch }}.tar.gz \
    | tar -C "$LOCAL_NODE_DIR" --strip-components=1 -xzf -
fi

export PATH="$LOCAL_NODE_BIN:$PATH"
$LOCAL_NODE_BIN/npm --prefix={{ .npmGlobal.root }} --silent install
$LOCAL_NODE_BIN/npm --prefix={{ .npmGlobal.root }} --silent run dependencies
{{- end -}}
