{{- if .is.Main -}}
#!/bin/bash
set -eufo pipefail

# Weekly {{ output "date" "+%V" | trim }}
fnm install {{ .node.default }} --log-level=quiet
fnm default {{ .node.default }} --log-level=quiet
{{- end -}}
