{{- $brewfile := joinPath .chezmoi.sourceDir "private_dot_config/private_packages/Brewfile" -}}
#!/bin/bash
set -eufo pipefail

# {{ include $brewfile | sha256sum }}

HOMEBREW_NO_COLOR=1 {{ joinPath .dirs.brewBin "brew" }} bundle --no-upgrade --quiet --file={{ $brewfile }}
