{{- if .is.Main -}}
#!/bin/bash
set -eufo pipefail

# {{ include (joinPath .xdg.data "cargo/env") | sha256sum }}
RUSTUP_INIT_SKIP_PATH_CHECK=yes rustup-init --no-modify-path -y --quiet &> /dev/null
# TODO: some sort of update?
{{- end -}}
