{{- if .isMain -}}
#!/bin/bash

{{- $cargoEnv := joinPath .homeDir ".cargo" "env" -}}
# env hash: {{ include $cargoEnv | sha256sum }}

if [ ! -f "{{ $cargoEnv }}" ]; then
  rustup-init --no-modify-path -y
fi
{{- end -}}
