{{- $rustupInit := joinPath .dirs.brewBin "rustup-init" -}}
{{- $rustup := joinPath .dirs.brewBin "rustup" -}}
#!/bin/bash
set -eufo pipefail

echo "Script: rust"

# Weekly {{ output "date" "+%V" | trim }}

RUSTUP_INIT_SKIP_PATH_CHECK=yes {{ $rustupInit }} --no-modify-path -y --quiet
{{ $rustup }} default stable
