#!/bin/bash
set -eufo pipefail

echo "Script: node"

# Weekly {{ output "date" "+%V" | trim }}

{{ range .node.versions }}
echo "Installing node@{{ .version }}"
fnm install {{ .version }} --log-level=quiet
{{ if hasKey . "default" -}}
echo "Setting node@{{ .version }} as default"
fnm default {{ .version }} --log-level=quiet
{{ end }}
{{- $npm := $.node.defaultNpm -}}
{{- if hasKey . "npm" -}}
{{- $npm = .npm -}}
{{- end -}}
echo "Installing npm@{{ $npm }} for node@{{ .version }}"
fnm exec --using={{ .version }} npm install -g npm@{{ $npm }} --silent
fnm exec --using={{ .version }} node --version
fnm exec --using={{ .version }} npm --version
{{ end }}
