{{- if .is.Main -}}
#!/bin/bash
set -eufo pipefail

defaults write NSGlobalDomain ApplePressAndHoldEnabled -bool false
defaults write NSGlobalDomain NSAutomaticCapitalizationEnabled -bool false
defaults write NSGlobalDomain NSAutomaticDashSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticPeriodSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticQuoteSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticSpellingCorrectionEnabled -bool false

defaults write -g KeyRepeat -int 1
defaults write -g InitialKeyRepeat -int 10

defaults write com.apple.dock autohide-time-modifier -int 0
{{- end -}}
