{{- if .isMain -}}
#!/bin/bash

# exit 0 if brew is installed
if command -v brew >/dev/null 2>&1; then
  exit 0
fi

echo "Installing homebrew"
/bin/bash -c "curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh"
{{- end -}}
