# Alias / Abbr
# Go to direcctories
alias dl="cd {{ .dirs.home }}/Downloads"
alias dt="cd {{ .dirs.home }}/Desktop"

# ls
alias l="eza --classify --long --no-permissions --no-user --time-style long-iso"
alias la="eza --classify --long --no-permissions --no-user --time-style long-iso --all"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Dates
alias dateslug='date "+%Y-%m-%d %H:%M"'
alias dateiso='date -u +"%Y-%m-%dT%H:%M:%S.%NZ"'

# Dotfiles
alias dotedit="chezmoi edit"

# Shortened program names
alias cz='chezmoi'

# Git aliases defined in gitconfig but as fish abbr
abbr -a g 'git'
{{ $gitAliases := list "co" "p" "po" "pob" "s" "ss" "ca" "ugh" "reb" "df" "l" "lb" "go" }}
{{ range $gitAliases }}
abbr -a g{{ . }} 'git {{ . }}'
{{ end }}

# Fish
set -g fish_greeting

# XDG
set -gx XDG_CONFIG_HOME "{{ .xdg.config }}"
set -gx XDG_CACHE_HOME "{{ .xdg.cache }}"
set -gx XDG_DATA_HOME "{{ .xdg.data }}"
set -gx XDG_STATE_HOME "{{ .xdg.state }}"

# User
set -gx DEFAULT_USER "{{ .chezmoi.username }}"
# Git credentials
set -gx GIT_AUTHOR_NAME "{{ .name }}"
set -gx GIT_COMMITTER_NAME "{{ .name }}"
set -gx GIT_AUTHOR_EMAIL "{{ .email }}"
set -gx GIT_COMMITTER_EMAIL "{{ .email }}"

# dont show % sign when ctrl-c'ing
set -gx PROMPT_EOL_MARK ""

# PATH / MANPATH
# Make sure MANPATH is always set https://github.com/fish-shell/fish-shell/issues/2090#issuecomment-421833616
set -q MANPATH || set MANPATH ''

# always use newer coreutils from homebrew
# this might have adverse effects if other tools expect older versions
# but it hasn't bitten me yet and its nicer to have. fingers crossed
fish_add_path --global "{{ .dirs.brew }}/opt/coreutils/libexec/gnubin"
fish_add_path --global "{{ .dirs.brew }}/opt/findutils/libexec/gnubin"
set -gxp MANPATH $MANPATH "{{ .dirs.brew }}/opt/coreutils/libexec/gnuman"
set -gxp MANPATH $MANPATH "{{ .dirs.brew }}/opt/findutils/libexec/gnuman"

# trash, installed from homebrew
fish_add_path --global "{{ .dirs.brew }}/opt/trash/bin"

# bins that are written by dotfiles repo
fish_add_path --global "{{ .dirs.home }}/.bin"

# Global bins installed from registry.npmjs.org
fish_add_path --global "{{ .npmGlobal.path }}"

# Ruby
# I don't have much need for anything beyond a single, modern ruby
# so use one from homebrew. If this changes, use a ruby version manager
fish_add_path --global "{{ .dirs.brew }}/opt/ruby/bin"

# Python
# Use python3.9 as the default python. Python is mostly used by node-gyp
# and this version works well for that.
fish_add_path --global "{{ .dirs.brew }}/opt/python@3.9/libexec/bin"

# TODO
# gem environment gemdir
# go env GOPATH

# SSH
{{ if .onepassword.ssh -}}
set -gx SSH_AUTH_SOCK ~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{- end }}

# VSCode as the default editor
set -gx EDITOR "code -r -w"

# Prefer US English and use UTF-8
set -gx LANG "en_US.UTF-8"
set -gx LC_ALL "en_US.UTF-8"

# Always enable colored `grep` output
set -gx GREP_OPTIONS "--color=auto"

# Move things reported by xdg-ninja
set -gx NODE_REPL_HISTORY {{ joinPath .xdg.state "node_repl_history" | quote }}
set -gx TS_NODE_HISTORY {{ joinPath .xdg.state "ts_node_repl_history" | quote }}
set -gx PKG_CACHE_PATH {{ joinPath .xdg.cache "pkg-cache" | quote }}
set -gx WGETRC {{ joinPath .xdg.cache "wgetrc" | quote }}
set -gx NPM_CONFIG_CACHE {{ joinPath .xdg.cache "npm" | quote }}
set -gx NPM_CONFIG_USERCONFIG {{ joinPath .xdg.cache "npmrc" | quote }}

# Homebrew
set -gx HOMEBREW_NO_ENV_HINTS "1"
set -gx HOMEBREW_CASK_OPTS "--appdir=/Applications" # Link Homebrew casks in `/Applications` rather than `~/Applications`
set -gx HOMEBREW_BUNDLE_DUMP_NO_VSCODE "1"
set -gx HOMEBREW_NO_AUTO_UPDATE "1"
set -gx HOMEBREW_BUNDLE_FILE "{{ joinPath .xdg.config "packages/Brewfile" }}"
{{ $brew := joinPath .dirs.brewBin "brew" }}
{{ output $brew "shellenv" "fish" | trim }}

# History
{{ $atuin := joinPath .dirs.brewBin "atuin" }}
{{ output $atuin "init" "fish" "--disable-up-arrow" | trim }}

# Node
fnm env --shell=fish --fnm-dir {{ joinPath .xdg.data "fnm" | quote }} | source # fnm is designed to run on every shell init

# Rust
set -gx CARGO_HOME {{ joinPath .xdg.data "cargo" | quote }}
set -gx RUSTUP_HOME {{ joinPath .xdg.data "rustup" | quote }}
{{ $cargo := joinPath .xdg.data "cargo/env.fish" }}
{{ include $cargo | trim }}

# Prompt
function starship_transient_prompt_func
  starship module character
end
{{ $starship := joinPath .dirs.brewBin "starship" }}
{{ output $starship "init" "fish" "--print-full-init" | trim }}
enable_transience

# Use git + diff-so-fancy colored diff when available
if type -q git
  function diff
    git --no-pager diff --no-index --color $argv | diff-so-fancy
  end
end