//registry.npmjs.org/:_authToken={{ template "password" list "npm token" .onepassword.personal }}
userconfig={{ .npmBins.dir }}/ENOENT1
globalconfig={{ .npmBins.dir }}/ENOENT2
cache={{ .npmBins.dir }}/cache
logs-max=0
update-notifier=false
install-strategy=shallow
lockfile-version=3
package-lock=false
foreground-scripts=true
audit=false
fund=false
save-exact=true
registry=https://registry.npmjs.org/
