userconfig={{ .npmBinsDir }}/ENOENT1
globalconfig={{ .npmBinsDir }}/ENOENT2
cache={{ .npmBinsDir }}/cache
logs-max=0
update-notifier=false
install-strategy=shallow
lockfile-version=3
package-lock=false
foreground-scripts=true
audit=false
fund=false
